.eval {
  max-width: 95%;
  margin: 0 auto;
  color: black;
}

.evalHeading {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 1em;
}

.evalForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 1em;
}

.evalFoldIcon {
  padding: 0 10px;
  border: none;
  background: none;
  color: var(--tc);
  cursor: pointer;
}

.EvalTitle {
  margin-inline-start: 1em;
  font-size: 1.1rem;
}

.evalLabelContainer {
  max-width: 280px;
  margin: 0.1em auto;
  padding: 0.3em 0;
  display: flex;
  align-items: center;
}

.evalLabelContainer label {
  width: 38px;
}

.evalLabelContainer input {
  padding: 0.2em 0.4em;
}

@media (min-width: 768px) {
  .eval {
    &Form {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    &ExerciseContainer {
      margin: 1.2em 0;
      padding: 0 2em;
    }
  }
}

@media (min-width: 992px) {
  .eval {
    &Heading {
      margin-bottom: 0;
    }
    &Form {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    &ExerciseContainer {
      margin: 1.2em 0;
      padding: 0 2em;
    }
  }
}
@media (min-width: 1200px) {
  .eval {
    &Form {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
    &ExerciseContainer {
      margin: 1.2em 0;
      padding: 0 2em;
    }
  }
}
