.faIcon {
  border: none;
  background: none;
  color: var(--tc);
  cursor: pointer;
}

table {
  margin: 8px;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  transform: scale(0.95);
}


table thead,
table tbody {
  animation: 1s tableIn 0s forwards;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
  color: black;
}

table tr {
background: #2980b9;
background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
background: linear-gradient(to right, #2e4963, #226c94);

    border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

@keyframes tableIn {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
